.topnav {
    background-color: rgba(0, 0, 0, 0.699);
    overflow: hidden;

}

.topnav a{
    float: left;
    color:rgb(241, 132, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #33e433;
    color:rgb(0, 0, 0);
}

main{
    height:1000px;
    
}

header {
    position: sticky; top: 0;
    display: flex;
    background-color: rgb(193, 127, 219);
    color:#ffffff;
    
    
}

.title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Courgette";
    text-shadow: #000000 2px 2px 5px;
    
}



img {

    border-radius: 50%;
    border: 5px solid black;
    
  
}

.intro {
    max-width: 500px;
    text-align: left;
    
}

body {
    background-color: rgba(29, 26, 29, 0);
    background-image: linear-gradient(rgb(90, 8, 90),rgb(213, 139, 238),rgb(255, 255, 255));
    
}



.aboutMeSection {
    background-color: #000000ef;
    color: #52f55a;
    font-size: 17px;
    background-image: url('');
    
}

footer {
    background-color: #a523b100;
    height: 100px;
    
}

.centered {
    text-align: center;
}



